#CourseList {
  width: 90%;
  margin: 15px;
  margin-left: 50px;
  border: 1px solid gray;
  border-collapse: collapse;
}

#CourseList th[colspan="2"] {
  text-align: center;
  border-bottom: 1px solid gray;
}

#CourseList th {
  text-align: left;
  border-bottom: 1px solid gray;
}